.footer {
    line-height: 1.5;
    font-size: 1.5rem;
    position: absolute;
    background-color: black;
    height: auto;
    right: 0;
    left:0;
    margin-bottom: 0;
    padding-left:80 ;
    padding-right:80 ;

  }